<h1 class="text-center">About</h1>




<div class="panel callout radius">
  <p> I prepared this website for Ewa. She has a chronic health condition and lives in constant pain.</p><p>
  	On this website I collect tips for coping with pain in  order to help her, as there is not much else left I could do.
  </p>
  <p>If you have a tip to cope with pain or other chronic condition please share, as it may help Ewa or someone else. </p><p>If by wonderfull surprise you found something that helped you,  <%= link_to "Sign up", new_user_session_path %> and share your happiness with us.</p>
  <p>Pawel</p>
 <span class="text-center"><%= link_to 'Share your Tip', new_tip_path, class: 'button  radius success ' %></span>
</div>
<h2 class="text-center">Tags</h2>
<div class="panel callout radius">

 <div id="tag_cloud">
  <% tag_cloud Tip.tag_counts, %w[css1 css2 css3 css4] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>   <span class="round alert label"></span>
  <% end %>
</div>
</div>
